<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5"><%= @user.full_name %></div>
                    <div class="h7"><%= @user.email %></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Posts</div>
                        <div class="h5"><%= @user.posts.count %></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Comments</div>
                        <div class="h5"><%= @user.comments.count %></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">
            <%= render 'posts/form', post: current_user.posts.new if @blog.user == current_user && user_signed_in? %>
            <%= render partial: 'posts/post', collection: @posts, as: :post %>
        </div>
        <%= render partial: 'blogs/blog_settings', locals: {user: @user, fonts: @fonts, blog: @blog} if @blog.user == current_user && user_signed_in? %>
    </div>
</div>

<style>
    body {
        background: <%= @blog.background_color %>;
        color: <%= @blog.text_color %>;
        font-family: <%= @blog.font_family %>
    }
    .card {
        background-color: <%= @blog.header_color %>;
    }
    .list-group-item {
        background-color: <%= @blog.header_color %>;
    }
    .form-control {
        background-color: <%= @blog.header_color %>;
    }
    .text-muted {
        color: <%= @blog.text_color %> !important;
    }
</style>

<%= will_paginate @posts, list_classes: %w(pagination justify-content-center) %>