<div class="container-fluid gedf-wrapper ">
  <div class="row justify-content-center">
    <div class="col-md-3 gedf-main ">
      <div class="card gedf-card">
        <div class="card-header">
          <h4>Sign in</h4>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
              </div>
              <div class="form-group col-md-12">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
              </div>
              <div class="col-md-12">
                <% if devise_mapping.rememberable? %>
                  <div class="form-check">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <%= f.submit "Sign in", class:"btn btn-primary btn-lg btn-block waves-effect text-center m-b-20" %>
              </div>
            </div>
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="or-label">or</div>
              <div class="line-separator"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-lg btn-google btn-block btn-outline", method: :post do %>
                  <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Continue with Google
                <% end %>
              </div>
            </div> 
            <br>
            <p class="text-inverse text-center">Dont have an account? <%= link_to "Sign up", new_registration_path(resource_name) %><br /></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>