<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Mini Blog", root_url, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Feed", root_url, class:"nav-link" %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <%= link_to 'My Blog', blog_url(current_user.blog), class: "btn btn-success btn-md", style:"margin-left: 12px"%>
      <%= button_to 'Log Out', destroy_user_session_url, method: :delete, class: "btn btn-primary btn-md", style:"margin-left: 12px"%>
    <% else %>
      <%= button_to 'Sign up', new_user_registration_url, method: :get, class: "btn btn-primary btn-md", style:"margin-left: 12px"%> 
      <%= button_to 'Sign in', new_user_session_url, method: :get, class: "btn btn-primary btn-md", style:"margin-left: 12px" %> 
    <% end %>
  </div>
</nav>